@model IEnumerable<CommonLayer.Models.Employees>

@{


    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 cl>Employees List</h2>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>FistName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Gender</th>
        </tr>
        @foreach(var emp in Model)
        {
    <tr>
        <td>@emp.Id</td>
        <td>@emp.FirstName</td>
        <td>@emp.LastName</td>
        <td>@emp.Email</td>
        <td>@emp.Gender</td>
    </tr>
        }
    </table>
    
</div>
